<!--
    last designed 2016/09/02
    for analysis
-->
<html>
<head>
    <title>Fencing Vis</title>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.min.js"></script>
    <script src="lib/d3.v4.js" charset="utf-8"></script>
    <script src="js/testCtrl.js"></script>
    <script src="js/boutChartAnimationTest.js"></script>
    <style>
        bout-chart-animation-test {
            width: 100%;
            height: 200px;
            display: block;
            z-index: 0;
            overflow: hidden;
            font-size: 10px;
        }

    </style>
    <link rel="stylesheet" type="text/css" href="CSS/html_styles.css">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">



</head>

<body ng-app="myApp" ng-controller="testCtrl">
<h2>击剑基本战术演示</h2>
<button class="btn btn-primary btn-1g" ng-click="attack()">对攻</button>
<button class="btn btn-primary btn-1g" ng-click="oneStepAttack()">拉开一步</button>
<button class="btn btn-primary btn-1g" ng-click="threeStepAttack()">长距离进攻</button>
<button class="btn btn-primary btn-1g" ng-click="reposte()">防守还击</button>
<button class="btn btn-primary btn-1g" ng-click="antiReposte()">反还击</button>
<br>
<br>
<br>
<bout-chart-animation-test style="width:1000px" data="basicTacticsData"></bout-chart-animation-test>
</body>
</html>


