<!--
    last designed 2016/09/02
    for analysis
-->
<html>
<head>
    <title>Fencing Vis</title>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.min.js"></script>
    <script src="lib/d3.v4.js" charset="utf-8"></script>
    <script type="text/javascript" src="lib/jquery-2.2.3.js"></script>
    <script src="js/mainCtrl.js"></script>
    <script src="js/fencingGameVis.js"></script>
    <script src="js/tacticsChart.js"></script>
    <script src="js/tacticsMatrix.js"></script>
    <script src="js/statisticChart.js"></script>
    <script src="js/motionChart.js"></script>
    <script src="js/boutChart.js"></script>
    <link rel="stylesheet" type="text/css" href="CSS/motion_chart_style.css">
    <link rel="stylesheet" type="text/css" href="CSS/bout_chart_style.css">
    <link rel="stylesheet" type="text/css" href="CSS/html_styles.css">
    <link rel="stylesheet" type="text/css" href="CSS/fencing_game_vis_style.css">
    <link rel="stylesheet" type="text/css" href="CSS/tactics_chart_style.css">
    <link rel="stylesheet" type="text/css" href="CSS/sparkline_style.css">
    <link rel="stylesheet" type="text/css" href="CSS/statistic_chart_style.css">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">



</head>

<body ng-app="myApp" ng-controller="MainCtrl">

    <h2>Select Game</h2>
    <select ng-model="selectedMatch" ng-options="match for match in matchList" style="width:200px">
    </select>
    <h2>Select Filter</h2>
    <select ng-model="selectedFilter" ng-options="filter for filter in filterList" style="width:200px">
    </select>
    <h1>Motion View</h1>
    <motion-chart data="fencingData"></motion-chart>
    <h1>Bout View</h1>
    <bout-chart data="fencingData"></bout-chart>
    <h1>Time View</h1>
    <fencing-game-vis data="fencingData" selected-point="selectedNode"></fencing-game-vis>
    <br>
    <h1>Tactics View</h1>
    <tactics-chart data="fencingData"></tactics-chart>
    <br>


    <!--
    <h1>统计视图</h1>
    <statistic-chart data="fencingData.statistics_tree"></statistic-chart>
    <h1>战术矩阵</h1>
    <tactics-matrix data="fencingData"></tactics-matrix>
    <h1>行为视图</h1>
    <statistic-chart data="fencingData.motion_tree"></statistic-chart>
    <br>
    <br>
    <br>
    -->
</body>
</html>


