


/* basic tree style */
fencing-game-vis {
    width: 100%;
    height:100%;
    display: block;
    z-index: 0;
    overflow: hidden;
    font-size: 10px;
}


fencing-game-vis rect {
    stroke-width: 1;
}

fencing-game-vis rect:hover {
    stroke-width: 2;
}


