


my-topic-tree .overlay, my-tree{
    background-color: darkslategray;
    background-color:#EEE;
}
/* mouse operated at last*/
/* fencing-game-vis */

fencing-game-vis{
    background-color: darkslategray;
    background-color:#EEE;
}
/* basic tree style */
fencing-game-vis {
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    overflow: hidden;
    font-size: 10px;
}

/* basic tree node style*/
fencing-game-vis .node {
//fill: yellow;
//    stroke: steelblue;
    opacity: 1;
    cursor: pointer;
    stroke-width: 2px;
}
/* basic tree node hover style*/
fencing-game-vis .node:hover {
    stroke: darkorange;
}
/* basic tree node focused style*/
fencing-game-vis .node.focused {
//     stroke: orange;
}

fencing-game-vis .node.temp {
    fill: lightgray;
}

fencing-game-vis .node.dist1 {
    stroke: purple;
}
fencing-game-vis.node.dist2 {
    stroke: pink;
}


/* axis style*/
fencing-game-vis .x-axis line, scatter .y-axis line {
    stroke: rgba(255, 255, 255, 0.2);
}
/* basic reference style*/
fencing-game-vis .reference {
    fill: none;
    stroke: gray;
    stroke-width: 1.5;
    opacity:0.2;
}
fencing-game-vis .reference.focused {
    stroke: #aaaaaa;
    opacity:1.0;
}
fencing-game-vis .reference.referred {
    stroke: #aaaaaa;
    opacity:1.0;
}
fencing-game-vis .reference.citing {
    stroke: lightblue;
    opacity:1.0;
}

fencing-game-vis .reference:hover {
    stroke-width:3.5;
    stroke:orange;
    opacity:1.0;
}
fencing-game-vis .reference.selected {
    stroke-width:4.5;
    stroke-dasharray: 10 5 10 5;
    opacity:1.0;
}
fencing-game-vis .reference.citing.focused {
    stroke: lightgreen;
    opacity:1.0;
}

fencing-game-vis .reference.cited.focused {
    stroke: pink;
    opacity:1.0;
}

/* used for axis*/
fencing-game-vis text {
    fill: black;
    stroke: none;
}

/* =======================================reference type

/* for different type*/
fencing-game-vis .reference.contrast{
    stroke:#800000;
}
fencing-game-vis .reference.rely{
    stroke:#008000;
}
fencing-game-vis .reference.context{
    stroke:#000080
}

fencing-game-vis .reference.contrast.rely{
    stroke:#808000
}
fencing-game-vis .reference.contrast.context{
    stroke:#800080
}
fencing-game-vis .reference.rely.context{
    stroke:#008080
}
fencing-game-vis .reference.contrast.rely.context{
    stroke:#808080
}

/*hover*/
fencing-game-vis .reference.contrast:hover{
    stroke:#ff0000;
}
fencing-game-vis .reference.rely:hover{
    stroke:#00ff00;
}
fencing-game-vis .reference.context:hover{
    stroke:#0000ff
}

fencing-game-vis .reference.contrast.rely:hover{
    stroke:#ffff00
}
fencing-game-vis .reference.contrast.context:hover{
    stroke:#ff00ff
}
fencing-game-vis .reference.rely.context:hover{
    stroke:#00ffff
}
fencing-game-vis .reference.contrast.rely.context:hover{
    stroke:#ffffff
}

/*selected*/
fencing-game-vis .reference.contrast.selected{
    stroke:#ff0000;
}
fencing-game-vis .reference.rely.selected{
    stroke:#00ff00;
}
fencing-game-vis .reference.context.selected{
    stroke:#0000ff
}
fencing-game-vis .reference.contrast.rely.selected{
    stroke:#ffff00
}
fencing-game-vis .reference.contrast.context.selected{
    stroke:#ff00ff
}
fencing-game-vis .reference.rely.context.selected{
    stroke:#00ffff
}
fencing-game-vis .reference.contrast.rely.context.selected{
    stroke:#ffffff
}
/*Focused*/
fencing-game-vis .reference.contrast.focused{
    stroke:#ff0000;
}
fencing-game-vis .reference.rely.focused{
    stroke:#00ff00;
}
fencing-game-vis .reference.context.focused{
    stroke:#0000ff
}
fencing-game-vis .reference.contrast.rely.focused{
    stroke:#ffff00
}
fencing-game-vis .reference.contrast.context.focused{
    stroke:#ff00ff
}
fencing-game-vis .reference.rely.context.focused{
    stroke:#00ffff
}
fencing-game-vis .reference.contrast.rely.context.focused{
    stroke:#ffffff
}

/*Referred*/
fencing-game-vis .reference.contrast.referred{
    stroke:#ff0000;
}
fencing-game-vis .reference.rely.referred{
    stroke:#00ff00;
}
fencing-game-vis .reference.context.referred{
    stroke:#0000ff
}
fencing-game-vis .reference.contrast.rely.referred{
    stroke:#ffff00
}
fencing-game-vis .reference.contrast.context.referred{
    stroke:#ff00ff
}
fencing-game-vis .reference.rely.context.referred{
    stroke:#00ffff
}
fencing-game-vis .reference.contrast.rely.context.referred{
    stroke:#ffffff
}






