



motion-chart {
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    overflow: hidden;
    font-size: 10px;
}

motion-chart rect {
    stroke-width: 1;
}

motion-chart rect:hover {
    stroke-width: 2;
}