



motion-chart {
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    overflow: hidden;
    font-size: 10px;
}

motion-chart .phrase {
    fill: whitesmoke;
    stroke-width: 1;
}

motion-chart .phrase:hover {
    stroke-width: 2;
}


motion-chart .phraseText {
    font-size: 18;
    text-anchor: left;
    font-family: monospace;
}